@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-muted: #909090;
  --foreground-muted-light: #adaaaa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-muted-light: var(--foreground-muted-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-muted: #909090;
    --foreground-muted-light: #b0b0b0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
